/* /Components/Tile.razor.rz.scp.css */
td[b-8py8scekn1] {
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 3px;
}


.Tile[b-8py8scekn1] {
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
    border-radius: 15px;
}

.new-tile[b-8py8scekn1] {
    animation: createBox-b-8py8scekn1 0.2s;
}

@keyframes createBox-b-8py8scekn1 {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}


.slideX1[b-8py8scekn1] {
    animation-name: slideX1-b-8py8scekn1;
    animation-duration: 0.13s;
}

.slideX2[b-8py8scekn1] {
    animation-name: slideX2-b-8py8scekn1;
    animation-duration: 0.13s;
}

.slideX3[b-8py8scekn1] {
    animation-name: slideX3-b-8py8scekn1;
    animation-duration: 0.13s;
}

.slide-X1[b-8py8scekn1] {
    animation-name: slide-X1-b-8py8scekn1;
    animation-duration: 0.13s;
}

.slide-X2[b-8py8scekn1] {
    animation-name: slide-X2-b-8py8scekn1;
    animation-duration: 0.13s;
}

.slide-X3[b-8py8scekn1] {
    animation-name: slide-X3-b-8py8scekn1;
    animation-duration: 0.13s;
}

.slideY1[b-8py8scekn1] {
    animation-name: slideY1-b-8py8scekn1;
    animation-duration: 0.13s;
}

.slideY2[b-8py8scekn1] {
    animation-name: slideY2-b-8py8scekn1;
    animation-duration: 0.13s;
}

.slideY3[b-8py8scekn1] {
    animation-name: slideY3-b-8py8scekn1;
    animation-duration: 0.13s;
}

.slide-Y1[b-8py8scekn1] {
    animation-name: slide-Y1-b-8py8scekn1;
    animation-duration: 0.13s;
}

.slide-Y2[b-8py8scekn1] {
    animation-name: slide-Y2-b-8py8scekn1;
    animation-duration: 0.13s;
}

.slide-Y3[b-8py8scekn1] {
    animation-name: slide-Y3-b-8py8scekn1;
    animation-duration: 0.13s;
}

@keyframes slideX1-b-8py8scekn1 {
    from {
        transform: translateX(0);
        -o-transform: translateX(0);
        -ms-transform: translateX(0);
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
    }

    to {
        -o-transform: translateX(calc(100% + 5px));
        -ms-transform: translateX(calc(100% + 5px));
        -moz-transform: translateX(calc(100% + 5px));
        -webkit-transform: translateX(calc(100% + 5px));
        transform: translateX(calc(100% + 5px));
    }
}

@keyframes slideX2-b-8py8scekn1 {
    from {
        -o-transform: translateX(0);
        -ms-transform: translateX(0);
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    to {
        -o-transform: translateX(calc(200% + 10px));
        -ms-transform: translateX(calc(200% + 10px));
        -moz-transform: translateX(calc(200% + 10px));
        -webkit-transform: translateX(calc(200% + 10px));
        transform: translateX(calc(200% + 10px));
    }
}

@keyframes slideX3-b-8py8scekn1 {
    from {
        transform: translateX(0);
        -o-transform: translateX(0);
        -ms-transform: translateX(0);
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
    }

    to {
        -o-transform: translateX(calc(300% + 15px));
        -ms-transform: translateX(calc(300% + 15px));
        -moz-transform: translateX(calc(300% + 15px));
        -webkit-transform: translateX(calc(300% + 15px));
        transform: translateX(calc(300% + 15px));
    }
}

@keyframes slide-X1-b-8py8scekn1 {
    from {
        transform: translateX(0);
        -o-transform: translateX(0);
        -ms-transform: translateX(0);
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
    }

    to {
        -o-transform: translateX(calc(-100% - 5px));
        -ms-transform: translateX(calc(-100% - 5px));
        -moz-transform: translateX(calc(-100% - 5px));
        -webkit-transform: translateX(calc(-100% - 5px));
        transform: translateX(calc(-100% - 5px));
    }
}

@keyframes slide-X2-b-8py8scekn1 {
    from {
        transform: translateX(0);
        -o-transform: translateX(0);
        -ms-transform: translateX(0);
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
    }

    to {
        -o-transform: translateX(calc(-200% - 10px));
        -ms-transform: translateX(calc(-200% - 10px));
        -moz-transform: translateX(calc(-200% - 10px));
        -webkit-transform: translateX(calc(-200% - 10px));
        transform: translateX(calc(-200% - 10px));
    }
}

@keyframes slide-X3-b-8py8scekn1 {
    from {
        transform: translateX(0);
        -o-transform: translateX(0);
        -ms-transform: translateX(0);
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
    }

    to {
        -o-transform: translateX(calc(-300% - 15px));
        -ms-transform: translateX(calc(-300% - 15px));
        -moz-transform: translateX(calc(-300% - 15px));
        -webkit-transform: translateX(calc(-300% - 15px));
        transform: translateX(calc(-300% - 15px));
    }
}

@keyframes slideY1-b-8py8scekn1 {
    from {
        transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
    }

    to {
        transform: translateY(calc(100% + 5px));
    }
}

@keyframes slideY2-b-8py8scekn1 {
    from {
        transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
    }

    to {
        transform: translateY(calc(200% + 10px));
    }
}

@keyframes slideY3-b-8py8scekn1 {
    from {
        transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
    }

    to {
        transform: translateY(calc(300% + 15px));
    }
}

@keyframes slide-Y1-b-8py8scekn1 {
    from {
        transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
    }

    to {
        transform: translateY(calc(-100% - 5px));
    }
}

@keyframes slide-Y2-b-8py8scekn1 {
    from {
        transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
    }

    to {
        transform: translateY(calc(-200% - 10px));
    }
}

@keyframes slide-Y3-b-8py8scekn1 {
    from {
        transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
    }

    to {
        transform: translateY(calc(-300% - 15px));
    }
}

.merged[b-8py8scekn1] {
    animation-name: bounce-b-8py8scekn1;
    animation-duration: 0.13s;
}

@keyframes bounce-b-8py8scekn1 {
    0% {
        transform: scale(1);
    }

    60% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.tile-default[b-8py8scekn1] {
    color: #CE2525;
    background-color: #1F1F1F;
}

.tile-2[b-8py8scekn1] {
    color: #292826;
    background-color: #FFFFFF;
}

.tile-4[b-8py8scekn1] {
    color: #292826;
    background-color: #DCDCDC;
}

.tile-8[b-8py8scekn1] {
    color: #292826;
    background-color: #CDCDCD;
}

.tile-16[b-8py8scekn1] {
    color: #292826;
    background-color: #BCBCBC;
}

.tile-32[b-8py8scekn1] {
    color: #292826;
    background-color: #ABABAB;
}

.tile-64[b-8py8scekn1] {
    color: #292826;
    background-color: #9B9B9B;
}

.tile-128[b-8py8scekn1] {
    color: #292826;
    background-color: #8C8B8B;
}

.tile-256[b-8py8scekn1] {
    color: #292826;
    background-color: #7C7B7B;
}

.tile-512[b-8py8scekn1] {
    color: #BFBFBF;
    background-color: #4E4D4D;
}

.tile-1024[b-8py8scekn1] {
    color: #BFBFBF;
    background-color: #323232;
}

.tile-2048[b-8py8scekn1] {
    color: #BFBFBF;
    background-color: #1F1F1F;
}

@media screen and (max-width: 800px) {
    td[b-8py8scekn1] {
        width: 60px;
        height: 60px;
        text-align: center;
        padding: 3px;
    }
}
/* /Pages/Home.razor.rz.scp.css */
*[b-uacay12q30] {
    font-family: "Verdana", sans-serif;
}
body[b-uacay12q30] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99%;
    height: 99%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}
.Game[b-uacay12q30] {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 15px;
}

.Table[b-uacay12q30] {
    padding: 0;
    margin: 2px;
    border: 3px solid black;
    border-radius: 15px;
}
.UI[b-uacay12q30] {
    display: flex;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.literallyCircle[b-uacay12q30] {
    background-color: #CE2525;
    width: 25%;
    height: 50%;
    margin-bottom: 25%;
    margin-top: 0;
    margin-left: 25%;
    margin-right: 0;
    padding: 0;
    border-radius: 50%;
    position: absolute;
}

.Button[b-uacay12q30] {
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #CE2525;
    color: black;
    width: 100px;
    height: 50px;
}

    .Button:hover[b-uacay12q30] {
        background-color: #BE2020;
    }

    .Button:active[b-uacay12q30] {
        position: relative;
        top: 1px;
    }

@media screen and (max-width: 900px) {
    .literallyCircle[b-uacay12q30] {
        display: none
    }
}

@media screen and (max-width: 1024px) {
    .literallyCircle[b-uacay12q30] {
        background-color: #CE2525;
        width: 600px;
        height: 600px;
        margin-bottom: 25%;
        margin-top: 0;
        margin-left: 25%;
        margin-right: 0;
        padding: 0;
        border-radius: 50%;
        position: absolute;
    }
}
