<td>
	@if (Value > 0)
	{
		<div class="Tile @GetMoveAnimationClassName(CurrentMove) @(Merged ? "merged" : "") @(NewTile ? "new-tile" : "")">
			@Value
		</div>
	}
</td>

@code {

	[Parameter] public int Value { get; set; }
	[Parameter] public bool NewTile { get; set; }
	[Parameter] public Move? CurrentMove { get; set; }
	[Parameter] public bool Merged { get; set; }
	[Parameter] public int AnimationFactor { get; set; }

	protected string GetMoveAnimationClassName(Move? move)
	=> move switch
	{
		Move.UP => "slide-Y" + AnimationFactor,
		Move.RIGHT => "slideX" + AnimationFactor,
		Move.DOWN => "slideY" + AnimationFactor,
		Move.LEFT => "slide-X" + AnimationFactor,
		_ => ""
	};
}
