<td>
	@if (Value > 0)
	{
		<div class="Tile @GenerateColor(Value) @GetMoveAnimationClassName(CurrentMove) @(Merged ? "merged" : "") @(NewTile ? "new-tile" : "")">
			@Value
		</div>
	}
</td>

@code {

	[Parameter] public int Value { get; set; }
	[Parameter] public bool NewTile { get; set; }
	[Parameter] public Move? CurrentMove { get; set; }
	[Parameter] public bool Merged { get; set; }
	[Parameter] public int AnimationFactor { get; set; }

	private string GenerateColor(int value)
	=> value switch
	{
		2 => "tile-2",
		4 => "tile-4",
		8 => "tile-8",
		16 => "tile-16",
		32 => "tile-32",
		64 => "tile-64",
		128 => "tile-128",
		256 => "tile-256",
		512 => "tile-512",
		1024 => "tile-1024",
		2048 => "tile-2048",
		_ => "tile-default"
	};

	protected string GetMoveAnimationClassName(Move? move)
	=> move switch
	{
		Move.UP => "slide-Y" + AnimationFactor,
		Move.RIGHT => "slideX" + AnimationFactor,
		Move.DOWN => "slideY" + AnimationFactor,
		Move.LEFT => "slide-X" + AnimationFactor,
		_ => ""
	};
}
