td {
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 3px;
}


.Tile {
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
    border-radius: 15px;
}

.new-tile {
    animation: createBox 0.2s;
}

@keyframes createBox {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}


.slideX1 {
    animation-name: slideX1;
    animation-duration: 0.13s;
}

.slideX2 {
    animation-name: slideX2;
    animation-duration: 0.13s;
}

.slideX3 {
    animation-name: slideX3;
    animation-duration: 0.13s;
}

.slide-X1 {
    animation-name: slide-X1;
    animation-duration: 0.13s;
}

.slide-X2 {
    animation-name: slide-X2;
    animation-duration: 0.13s;
}

.slide-X3 {
    animation-name: slide-X3;
    animation-duration: 0.13s;
}

.slideY1 {
    animation-name: slideY1;
    animation-duration: 0.13s;
}

.slideY2 {
    animation-name: slideY2;
    animation-duration: 0.13s;
}

.slideY3 {
    animation-name: slideY3;
    animation-duration: 0.13s;
}

.slide-Y1 {
    animation-name: slide-Y1;
    animation-duration: 0.13s;
}

.slide-Y2 {
    animation-name: slide-Y2;
    animation-duration: 0.13s;
}

.slide-Y3 {
    animation-name: slide-Y3;
    animation-duration: 0.13s;
}

@keyframes slideX1 {
    from {
        transform: translateX(0);
        -o-transform: translateX(0);
        -ms-transform: translateX(0);
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
    }

    to {
        -o-transform: translateX(calc(100% + 5px));
        -ms-transform: translateX(calc(100% + 5px));
        -moz-transform: translateX(calc(100% + 5px));
        -webkit-transform: translateX(calc(100% + 5px));
        transform: translateX(calc(100% + 5px));
    }
}

@keyframes slideX2 {
    from {
        -o-transform: translateX(0);
        -ms-transform: translateX(0);
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    to {
        -o-transform: translateX(calc(200% + 10px));
        -ms-transform: translateX(calc(200% + 10px));
        -moz-transform: translateX(calc(200% + 10px));
        -webkit-transform: translateX(calc(200% + 10px));
        transform: translateX(calc(200% + 10px));
    }
}

@keyframes slideX3 {
    from {
        transform: translateX(0);
        -o-transform: translateX(0);
        -ms-transform: translateX(0);
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
    }

    to {
        -o-transform: translateX(calc(300% + 15px));
        -ms-transform: translateX(calc(300% + 15px));
        -moz-transform: translateX(calc(300% + 15px));
        -webkit-transform: translateX(calc(300% + 15px));
        transform: translateX(calc(300% + 15px));
    }
}

@keyframes slide-X1 {
    from {
        transform: translateX(0);
        -o-transform: translateX(0);
        -ms-transform: translateX(0);
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
    }

    to {
        -o-transform: translateX(calc(-100% - 5px));
        -ms-transform: translateX(calc(-100% - 5px));
        -moz-transform: translateX(calc(-100% - 5px));
        -webkit-transform: translateX(calc(-100% - 5px));
        transform: translateX(calc(-100% - 5px));
    }
}

@keyframes slide-X2 {
    from {
        transform: translateX(0);
        -o-transform: translateX(0);
        -ms-transform: translateX(0);
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
    }

    to {
        -o-transform: translateX(calc(-200% - 10px));
        -ms-transform: translateX(calc(-200% - 10px));
        -moz-transform: translateX(calc(-200% - 10px));
        -webkit-transform: translateX(calc(-200% - 10px));
        transform: translateX(calc(-200% - 10px));
    }
}

@keyframes slide-X3 {
    from {
        transform: translateX(0);
        -o-transform: translateX(0);
        -ms-transform: translateX(0);
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
    }

    to {
        -o-transform: translateX(calc(-300% - 15px));
        -ms-transform: translateX(calc(-300% - 15px));
        -moz-transform: translateX(calc(-300% - 15px));
        -webkit-transform: translateX(calc(-300% - 15px));
        transform: translateX(calc(-300% - 15px));
    }
}

@keyframes slideY1 {
    from {
        transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
    }

    to {
        transform: translateY(calc(100% + 5px));
    }
}

@keyframes slideY2 {
    from {
        transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
    }

    to {
        transform: translateY(calc(200% + 10px));
    }
}

@keyframes slideY3 {
    from {
        transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
    }

    to {
        transform: translateY(calc(300% + 15px));
    }
}

@keyframes slide-Y1 {
    from {
        transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
    }

    to {
        transform: translateY(calc(-100% - 5px));
    }
}

@keyframes slide-Y2 {
    from {
        transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
    }

    to {
        transform: translateY(calc(-200% - 10px));
    }
}

@keyframes slide-Y3 {
    from {
        transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
    }

    to {
        transform: translateY(calc(-300% - 15px));
    }
}

.merged {
    animation-name: bounce;
    animation-duration: 0.13s;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }

    60% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.tile-default {
    color: #CE2525;
    background-color: #1F1F1F;
}

.tile-2 {
    color: #292826;
    background-color: #FFFFFF;
}

.tile-4 {
    color: #292826;
    background-color: #DCDCDC;
}

.tile-8 {
    color: #292826;
    background-color: #CDCDCD;
}

.tile-16 {
    color: #292826;
    background-color: #BCBCBC;
}

.tile-32 {
    color: #292826;
    background-color: #ABABAB;
}

.tile-64 {
    color: #292826;
    background-color: #9B9B9B;
}

.tile-128 {
    color: #292826;
    background-color: #8C8B8B;
}

.tile-256 {
    color: #292826;
    background-color: #7C7B7B;
}

.tile-512 {
    color: #BFBFBF;
    background-color: #4E4D4D;
}

.tile-1024 {
    color: #BFBFBF;
    background-color: #323232;
}

.tile-2048 {
    color: #BFBFBF;
    background-color: #1F1F1F;
}

@media screen and (max-width: 800px) {
    td {
        width: 60px;
        height: 60px;
        text-align: center;
        padding: 3px;
    }
}