* {
    font-family: "Verdana", sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99%;
    height: 99%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}
.Game {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 15px;
}

.Table {
    padding: 0;
    margin: 2px;
    border: 3px solid black;
    border-radius: 15px;
}
.UI {
    display: flex;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Button {
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #CE2525;
    color: black;
    width: 100px;
    height: 50px;
}

    .Button:hover {
        background-color: #BE2020;
    }

    .Button:active {
        position: relative;
        top: 1px;
    }